<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Facial and Emotion Recognition using openCV, python and flask</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <style>
        @import url(https://fonts.googleapis.com/css?family=Roboto:300);
    </style>
</head>
<body>
    <center>
        <div>
            <h1> Emotional Recognizer </h1>
            <img style="height: 60%; width:60%" src="/static/emotion.jpg">
        </div>
        <a href="/emotion" class="end"> Predict Emotion </a>
    </center>
</body>
</html>