<html>
  <head>
    <meta Http-Equiv="Cache-Control" Content="no-cache">
    <meta Http-Equiv="Pragma" Content="no-cache">
    <meta Http-Equiv="Expires" Content="0">
    <meta Http-Equiv="Pragma-directive: no-cache">
    <meta Http-Equiv="Cache-directive: no-cache">
    <title>Face Recognizer Demonstration on Live Video Streaming</title>
  </head>
  <body>
    <h1>Face Recognizer Demonstration on Live Video Streaming</h1>
    <img style="height: 60%; width:60%" src="{{ url_for('video_feed') }}">
    
  </body>
</html>