<html>
  <head>
  	<meta Http-Equiv="Cache-Control" Content="no-cache">
    <meta Http-Equiv="Pragma" Content="no-cache">
    <meta Http-Equiv="Expires" Content="0">
    <meta Http-Equiv="Pragma-directive: no-cache">
    <meta Http-Equiv="Cache-directive: no-cache">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <title>Face Recognizer Demonstration on Live Video Streaming</title>
  </head>
  <body>
    <h1>Prediction values are</h1>
    <img style="height: 60%; width:60%" src="/static/emotion.jpg">
    <h1> Prediction value is <span style="color: blue;"> {{output}} </span> </h1> 
    <a href="/play?song={{detection}}"> Play Song </a>
    <h2> {{emotions }}</h2>
    <h3> 0=neutral, 
1=anger,
 2=contempt,
 3=disgust, 
4=fear, 
5=happy, 
6=sadness, 
7=surprise </h3>
  </body>
</html>
