/venv/**
/data/emotionRecognizerData/*
/data/faceRecognizerData/faceDatset/*
/webApp/server/node_modules/*
!/data/faceRecognizerData/Readme.md
!/data/faceRecognizerData/faceDatabase.db
!/data/faceRecognizerData/faceDatset/Readme.md
